/*
Error: Invalid CSS after "only screen and ": expected media expression (e.g. (min-device-width: 800px)), was ""(min-width: 76..."
        on line 9 of src/mixins/mixins.scss, in `res'
        from line 7 of src/display.scss

4: .hidden {
5:   @each $break-point-name, $value in $--breakpoints-spec {
6:     &-#{$break-point-name} {
7:       @include res($break-point-name, $--breakpoints-spec) {
8:         display: none !important;
9:       }
10:     }
11:   }
12: }

Backtrace:
src/mixins/mixins.scss:9:in `res'
src/display.scss:7
/Users/uppit/.rvm/rubies/ruby-2.3.7/lib/ruby/gems/2.3.0/gems/sass-3.7.4/lib/sass/scss/parser.rb:1308:in `expected'
/Users/uppit/.rvm/rubies/ruby-2.3.7/lib/ruby/gems/2.3.0/gems/sass-3.7.4/lib/sass/scss/parser.rb:1238:in `expected'
/Users/uppit/.rvm/rubies/ruby-2.3.7/lib/ruby/gems/2.3.0/gems/sass-3.7.4/lib/sass/scss/parser.rb:1218:in `expr!'
/Users/uppit/.rvm/rubies/ruby-2.3.7/lib/ruby/gems/2.3.0/gems/sass-3.7.4/lib/sass/scss/parser.rb:458:in `media_query'
/Users/uppit/.rvm/rubies/ruby-2.3.7/lib/ruby/gems/2.3.0/gems/sass-3.7.4/lib/sass/scss/parser.rb:426:in `media_query_list'
/Users/uppit/.rvm/rubies/ruby-2.3.7/lib/ruby/gems/2.3.0/gems/sass-3.7.4/lib/sass/scss/parser.rb:73:in `parse_media_query_list'
/Users/uppit/.rvm/rubies/ruby-2.3.7/lib/ruby/gems/2.3.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:523:in `visit_media'
/Users/uppit/.rvm/rubies/ruby-2.3.7/lib/ruby/gems/2.3.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/uppit/.rvm/rubies/ruby-2.3.7/lib/ruby/gems/2.3.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/uppit/.rvm/rubies/ruby-2.3.7/lib/ruby/gems/2.3.0/gems/sass-3.7.4/lib/sass/stack.rb:79:in `block in with_base'
/Users/uppit/.rvm/rubies/ruby-2.3.7/lib/ruby/gems/2.3.0/gems/sass-3.7.4/lib/sass/stack.rb:135:in `with_frame'
/Users/uppit/.rvm/rubies/ruby-2.3.7/lib/ruby/gems/2.3.0/gems/sass-3.7.4/lib/sass/stack.rb:79:in `with_base'
/Users/uppit/.rvm/rubies/ruby-2.3.7/lib/ruby/gems/2.3.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/uppit/.rvm/rubies/ruby-2.3.7/lib/ruby/gems/2.3.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:298:in `block (2 levels) in visit_if'
/Users/uppit/.rvm/rubies/ruby-2.3.7/lib/ruby/gems/2.3.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:298:in `map'
/Users/uppit/.rvm/rubies/ruby-2.3.7/lib/ruby/gems/2.3.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:298:in `block in visit_if'
/Users/uppit/.rvm/rubies/ruby-2.3.7/lib/ruby/gems/2.3.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/uppit/.rvm/rubies/ruby-2.3.7/lib/ruby/gems/2.3.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:297:in `visit_if'
/Users/uppit/.rvm/rubies/ruby-2.3.7/lib/ruby/gems/2.3.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/uppit/.rvm/rubies/ruby-2.3.7/lib/ruby/gems/2.3.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/uppit/.rvm/rubies/ruby-2.3.7/lib/ruby/gems/2.3.0/gems/sass-3.7.4/lib/sass/stack.rb:79:in `block in with_base'
/Users/uppit/.rvm/rubies/ruby-2.3.7/lib/ruby/gems/2.3.0/gems/sass-3.7.4/lib/sass/stack.rb:135:in `with_frame'
/Users/uppit/.rvm/rubies/ruby-2.3.7/lib/ruby/gems/2.3.0/gems/sass-3.7.4/lib/sass/stack.rb:79:in `with_base'
/Users/uppit/.rvm/rubies/ruby-2.3.7/lib/ruby/gems/2.3.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/uppit/.rvm/rubies/ruby-2.3.7/lib/ruby/gems/2.3.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:363:in `block (4 levels) in visit_mixin'
/Users/uppit/.rvm/rubies/ruby-2.3.7/lib/ruby/gems/2.3.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:363:in `map'
/Users/uppit/.rvm/rubies/ruby-2.3.7/lib/ruby/gems/2.3.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:363:in `block (3 levels) in visit_mixin'
/Users/uppit/.rvm/rubies/ruby-2.3.7/lib/ruby/gems/2.3.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/uppit/.rvm/rubies/ruby-2.3.7/lib/ruby/gems/2.3.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:363:in `block (2 levels) in visit_mixin'
/Users/uppit/.rvm/rubies/ruby-2.3.7/lib/ruby/gems/2.3.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:84:in `perform_arguments'
/Users/uppit/.rvm/rubies/ruby-2.3.7/lib/ruby/gems/2.3.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:358:in `block in visit_mixin'
/Users/uppit/.rvm/rubies/ruby-2.3.7/lib/ruby/gems/2.3.0/gems/sass-3.7.4/lib/sass/stack.rb:98:in `block in with_mixin'
/Users/uppit/.rvm/rubies/ruby-2.3.7/lib/ruby/gems/2.3.0/gems/sass-3.7.4/lib/sass/stack.rb:135:in `with_frame'
/Users/uppit/.rvm/rubies/ruby-2.3.7/lib/ruby/gems/2.3.0/gems/sass-3.7.4/lib/sass/stack.rb:98:in `with_mixin'
/Users/uppit/.rvm/rubies/ruby-2.3.7/lib/ruby/gems/2.3.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:346:in `visit_mixin'
/Users/uppit/.rvm/rubies/ruby-2.3.7/lib/ruby/gems/2.3.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/uppit/.rvm/rubies/ruby-2.3.7/lib/ruby/gems/2.3.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/uppit/.rvm/rubies/ruby-2.3.7/lib/ruby/gems/2.3.0/gems/sass-3.7.4/lib/sass/stack.rb:79:in `block in with_base'
/Users/uppit/.rvm/rubies/ruby-2.3.7/lib/ruby/gems/2.3.0/gems/sass-3.7.4/lib/sass/stack.rb:135:in `with_frame'
/Users/uppit/.rvm/rubies/ruby-2.3.7/lib/ruby/gems/2.3.0/gems/sass-3.7.4/lib/sass/stack.rb:79:in `with_base'
/Users/uppit/.rvm/rubies/ruby-2.3.7/lib/ruby/gems/2.3.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/uppit/.rvm/rubies/ruby-2.3.7/lib/ruby/gems/2.3.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:440:in `block (2 levels) in visit_rule'
/Users/uppit/.rvm/rubies/ruby-2.3.7/lib/ruby/gems/2.3.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:440:in `map'
/Users/uppit/.rvm/rubies/ruby-2.3.7/lib/ruby/gems/2.3.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:440:in `block in visit_rule'
/Users/uppit/.rvm/rubies/ruby-2.3.7/lib/ruby/gems/2.3.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/uppit/.rvm/rubies/ruby-2.3.7/lib/ruby/gems/2.3.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:438:in `visit_rule'
/Users/uppit/.rvm/rubies/ruby-2.3.7/lib/ruby/gems/2.3.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/uppit/.rvm/rubies/ruby-2.3.7/lib/ruby/gems/2.3.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/uppit/.rvm/rubies/ruby-2.3.7/lib/ruby/gems/2.3.0/gems/sass-3.7.4/lib/sass/stack.rb:79:in `block in with_base'
/Users/uppit/.rvm/rubies/ruby-2.3.7/lib/ruby/gems/2.3.0/gems/sass-3.7.4/lib/sass/stack.rb:135:in `with_frame'
/Users/uppit/.rvm/rubies/ruby-2.3.7/lib/ruby/gems/2.3.0/gems/sass-3.7.4/lib/sass/stack.rb:79:in `with_base'
/Users/uppit/.rvm/rubies/ruby-2.3.7/lib/ruby/gems/2.3.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/uppit/.rvm/rubies/ruby-2.3.7/lib/ruby/gems/2.3.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:240:in `block (3 levels) in visit_each'
/Users/uppit/.rvm/rubies/ruby-2.3.7/lib/ruby/gems/2.3.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:240:in `map'
/Users/uppit/.rvm/rubies/ruby-2.3.7/lib/ruby/gems/2.3.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:240:in `block (2 levels) in visit_each'
/Users/uppit/.rvm/rubies/ruby-2.3.7/lib/ruby/gems/2.3.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:232:in `map'
/Users/uppit/.rvm/rubies/ruby-2.3.7/lib/ruby/gems/2.3.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:232:in `block in visit_each'
/Users/uppit/.rvm/rubies/ruby-2.3.7/lib/ruby/gems/2.3.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/uppit/.rvm/rubies/ruby-2.3.7/lib/ruby/gems/2.3.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:231:in `visit_each'
/Users/uppit/.rvm/rubies/ruby-2.3.7/lib/ruby/gems/2.3.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/uppit/.rvm/rubies/ruby-2.3.7/lib/ruby/gems/2.3.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/uppit/.rvm/rubies/ruby-2.3.7/lib/ruby/gems/2.3.0/gems/sass-3.7.4/lib/sass/stack.rb:79:in `block in with_base'
/Users/uppit/.rvm/rubies/ruby-2.3.7/lib/ruby/gems/2.3.0/gems/sass-3.7.4/lib/sass/stack.rb:135:in `with_frame'
/Users/uppit/.rvm/rubies/ruby-2.3.7/lib/ruby/gems/2.3.0/gems/sass-3.7.4/lib/sass/stack.rb:79:in `with_base'
/Users/uppit/.rvm/rubies/ruby-2.3.7/lib/ruby/gems/2.3.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/uppit/.rvm/rubies/ruby-2.3.7/lib/ruby/gems/2.3.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:440:in `block (2 levels) in visit_rule'
/Users/uppit/.rvm/rubies/ruby-2.3.7/lib/ruby/gems/2.3.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:440:in `map'
/Users/uppit/.rvm/rubies/ruby-2.3.7/lib/ruby/gems/2.3.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:440:in `block in visit_rule'
/Users/uppit/.rvm/rubies/ruby-2.3.7/lib/ruby/gems/2.3.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/uppit/.rvm/rubies/ruby-2.3.7/lib/ruby/gems/2.3.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:438:in `visit_rule'
/Users/uppit/.rvm/rubies/ruby-2.3.7/lib/ruby/gems/2.3.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/uppit/.rvm/rubies/ruby-2.3.7/lib/ruby/gems/2.3.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/uppit/.rvm/rubies/ruby-2.3.7/lib/ruby/gems/2.3.0/gems/sass-3.7.4/lib/sass/stack.rb:79:in `block in with_base'
/Users/uppit/.rvm/rubies/ruby-2.3.7/lib/ruby/gems/2.3.0/gems/sass-3.7.4/lib/sass/stack.rb:135:in `with_frame'
/Users/uppit/.rvm/rubies/ruby-2.3.7/lib/ruby/gems/2.3.0/gems/sass-3.7.4/lib/sass/stack.rb:79:in `with_base'
/Users/uppit/.rvm/rubies/ruby-2.3.7/lib/ruby/gems/2.3.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/uppit/.rvm/rubies/ruby-2.3.7/lib/ruby/gems/2.3.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/uppit/.rvm/rubies/ruby-2.3.7/lib/ruby/gems/2.3.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/uppit/.rvm/rubies/ruby-2.3.7/lib/ruby/gems/2.3.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/uppit/.rvm/rubies/ruby-2.3.7/lib/ruby/gems/2.3.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/Users/uppit/.rvm/rubies/ruby-2.3.7/lib/ruby/gems/2.3.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/uppit/.rvm/rubies/ruby-2.3.7/lib/ruby/gems/2.3.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/Users/uppit/.rvm/rubies/ruby-2.3.7/lib/ruby/gems/2.3.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/uppit/.rvm/rubies/ruby-2.3.7/lib/ruby/gems/2.3.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/Users/uppit/.rvm/rubies/ruby-2.3.7/lib/ruby/gems/2.3.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/uppit/.rvm/rubies/ruby-2.3.7/lib/ruby/gems/2.3.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:157:in `visit'
/Users/uppit/.rvm/rubies/ruby-2.3.7/lib/ruby/gems/2.3.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:10:in `visit'
/Users/uppit/.rvm/rubies/ruby-2.3.7/lib/ruby/gems/2.3.0/gems/sass-3.7.4/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/uppit/.rvm/rubies/ruby-2.3.7/lib/ruby/gems/2.3.0/gems/sass-3.7.4/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/Users/uppit/.rvm/rubies/ruby-2.3.7/lib/ruby/gems/2.3.0/gems/sass-3.7.4/lib/sass/engine.rb:389:in `_render_with_sourcemap'
/Users/uppit/.rvm/rubies/ruby-2.3.7/lib/ruby/gems/2.3.0/gems/sass-3.7.4/lib/sass/engine.rb:307:in `render_with_sourcemap'
/Users/uppit/.rvm/rubies/ruby-2.3.7/lib/ruby/gems/2.3.0/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:462:in `update_stylesheet'
/Users/uppit/.rvm/rubies/ruby-2.3.7/lib/ruby/gems/2.3.0/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/uppit/.rvm/rubies/ruby-2.3.7/lib/ruby/gems/2.3.0/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:209:in `each'
/Users/uppit/.rvm/rubies/ruby-2.3.7/lib/ruby/gems/2.3.0/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/uppit/.rvm/rubies/ruby-2.3.7/lib/ruby/gems/2.3.0/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:443:in `on_file_changed'
/Users/uppit/.rvm/rubies/ruby-2.3.7/lib/ruby/gems/2.3.0/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:320:in `block in watch'
/Users/uppit/.rvm/rubies/ruby-2.3.7/lib/ruby/gems/2.3.0/gems/sass-listen-4.0.0/lib/sass-listen/event/config.rb:23:in `call'
/Users/uppit/.rvm/rubies/ruby-2.3.7/lib/ruby/gems/2.3.0/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:115:in `_process_changes'
/Users/uppit/.rvm/rubies/ruby-2.3.7/lib/ruby/gems/2.3.0/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:19:in `block in loop_for'
/Users/uppit/.rvm/rubies/ruby-2.3.7/lib/ruby/gems/2.3.0/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:15:in `loop'
/Users/uppit/.rvm/rubies/ruby-2.3.7/lib/ruby/gems/2.3.0/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:15:in `loop_for'
/Users/uppit/.rvm/rubies/ruby-2.3.7/lib/ruby/gems/2.3.0/gems/sass-listen-4.0.0/lib/sass-listen/event/loop.rb:84:in `_wait_for_changes'
/Users/uppit/.rvm/rubies/ruby-2.3.7/lib/ruby/gems/2.3.0/gems/sass-listen-4.0.0/lib/sass-listen/event/loop.rb:42:in `block in setup'
/Users/uppit/.rvm/rubies/ruby-2.3.7/lib/ruby/gems/2.3.0/gems/sass-listen-4.0.0/lib/sass-listen/internals/thread_pool.rb:6:in `block in add'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"only screen and \": expected media expression (e.g. (min-device-width: 800px)), was \"\"(min-width: 76...\"\A         on line 9 of src/mixins/mixins.scss, in `res'\A         from line 7 of src/display.scss\A \A 4: .hidden {\A 5:   @each $break-point-name, $value in $--breakpoints-spec {\A 6:     &-#{$break-point-name} {\A 7:       @include res($break-point-name, $--breakpoints-spec) {\A 8:         display: none !important;\A 9:       }\A 10:     }\A 11:   }\A 12: }"; }
